EXPO_PUBLIC_API_BASE_URL=http://192.168.0.100:8008
EXPO_PUBLIC_AUTH_BASE_URL=http://192.168.0.100:8000
# EXPO_PUBLIC_CHATBOT_BASE_URL=http://192.168.0.100:8000
# EXPO_PUBLIC_API_HTTP_TIMEOUT_MS=120000
# EXPO_PUBLIC_API_VOCAL_TIMEOUT_MS=180000
